

.container {
	max-width: 75%;
}

@media screen and (max-width: 780px) {
    div.container {
        max-width: 100%;
    }

    
  }

  @media screen and (max-width: 1400px) {
    div.container {
        max-width: 99%;
    }

    
  }

/*---------------------------------------------------------------------- navbar ----------------------------------------------- */

.hot_line{
	font-size:0.8rem;
	padding-top:0.5rem;
	
}

/* -------------------------------------------------------------------------- navbar ---------------------------------------------- */

.bg-primary {

background: -moz-linear-gradient(-45deg,  rgba(14,14,51,1) 0%, rgba(206,76,53,1) 32%, rgba(140,69,239,1) 64%, rgba(39,37,163,0.89) 93%, rgba(36,36,160,0.89) 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(14,14,51,1) 0%,rgba(206,76,53,1) 32%,rgba(140,69,239,1) 64%,rgba(39,37,163,0.89) 93%,rgba(36,36,160,0.89) 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(14,14,51,1) 0%,rgba(206,76,53,1) 32%,rgba(140,69,239,1) 64%,rgba(39,37,163,0.89) 93%,rgba(36,36,160,0.89) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e33', endColorstr='#e32424a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/*  ============================================================= nav menu css =============================================== */

.nav-item .nav-link:hover{
	color: #2d82d1;
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
	font-size:18px;
	

}

/* =============================================================== category css =================================================== */
.navbar-dark .navbar-nav .nav-link {
	color:#ffffff;
	font-weight: 500;
}
.list-group-item .nav-link2 {
	color: #ff7300;
	text-decoration: none;
	background-color: transparent;
}

.list-group-item .nav-link2:hover{
	color: #2d82d1;
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
	font-size:18px;
	

}

.login_link{
	color:#ff6c6c; 
	text-decoration:none;
}

.login .login_link:hover{
	margin-top:5px;
	/* color:#ff6c6c;  */
	text-decoration:none;
}

/* search box css */
.searchBox {
    position: relative;
    /* top: 50%; */
	left: 30%;
	/*for all position (responsive) */
    transform:  translate(-30%,0%); 
    background: #2f3640;
    height: 45px;
	border-radius: 40px;
    padding: 8px;

}

.searchBox:hover > .searchInput {
    width: 350px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 25px;
    width: 0px;

}

@media screen and (max-width: 780px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

@media screen and (max-width: 780px) {
	.searchBox{

		transform:  translate(-70%,0%);
		left:70%;
	}
	}

@media screen and (max-width: 1400px) {
	.searchBox:hover > .searchInput {
		width: 250px;
		padding: 0 6px;
	}
	}

	@media screen and (max-width: 1400px) {
		.searchBox{

			transform:  translate(-70%,0%);
		}
		}



/*  ------------------------------------------------------------------ start home page main body  -------------------------------------------- */
.row_one{
	background-color: #ffffff;	
}

.category_list{
	margin-left:1rem;
}

.letest_update{
	background-image: linear-gradient(110deg, #e6662b, #1b33b9);
	margin-right:0.5rem;
	padding:0.5rem;
	font-size:15px;
	text-align: center;
	color:#ffffff;
	border-radius:0.3rem;
}



@media screen and (max-width: 780px) {
	.letest_update {
		margin-right:0rem;
	}
	}


	
.btn-link{
	color:#ff0000;
}

.price_tag{
	text-align: center;
	font-weight: 600;
	color:red;
}

/*-------------------------------------------------------------- end 1st section (slide, my store , recent update section) ---------------------------------- */ 
git




/* ------------------------------------------------------------------ start feature section -----------------------------*/

.row_two{
	/* background-color: #ffffff; */

	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}



.summersale_head{
	font-size:24px;
	font-weight: 600;
	text-align:center;
	padding: 0.1rem;
	margin-top:5px;
	color:#000000;
}

.section_head{
	font-size:24px;
	font-weight: 600;
	text-align:center;
	padding: 0.1rem;
	margin-top:5px;
	color:#ffffff;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#205899+0,ff3d3d+50,83c0ef+100&0.33+0,1+50,0.3+100 */
background: -moz-linear-gradient(left,  rgba(32,88,153,0.33) 0%, rgba(255,61,61,1) 50%, rgba(131,192,239,0.3) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(32,88,153,0.33) 0%,rgba(255,61,61,1) 50%,rgba(131,192,239,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(32,88,153,0.33) 0%,rgba(255,61,61,1) 50%,rgba(131,192,239,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54205899', endColorstr='#4d83c0ef',GradientType=1 ); /* IE6-9 */

}


/*--------------------------------------------------------------------------- product on sale images ----------------------------------------------*/

/* .overlay_right{
	display: block;
	opacity:0;
	position: absolute;
	top:10%;
	margin-left:0;
	widows: 70%;
} */

/* .overlay_right .fa{
	cursor: pointer;
	background-color:#ff4b4b;
	color:#ffffff;
	height: 35px;
	width:35px;
	font-size:20px;
	padding: 7px;
	margin-top:5%;
	margin-bottom: 5%;
	border-radius: 12px;

} */


/* .overlay_right .btn-secondary{

	background: none !important;
	border: none !important;
	box-shadow: none !important;
	
} */

/* .product_one_sale_top:hover .overlay_right{

	opacity: 0.8;
	margin-left:5%
} */
/* .mx-auto{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
} */


/* =========================================================================== on image button css removed================================= */

.text-center .img-thumbnail:hover{
	transform:scale(1.1);
}

.price_tag{
	font-weight: 600;
	color:#ea5507;
	font-size: 18px;

}

.product_one_sale_bottom{
	text-align: center;
	font-weight:600;
}


.product_one_sale_bottom .btn-secondary{

	background-color:#ffffff;
	color:#fb955e;
	height: 35px;
	width:35px;
	font-size:20px;
	padding: 2px;
	margin-top:5%;
	margin-bottom: 5%;
	border-radius: 12px;
}


.btn-secondary:hover{
	transform:scale(1.1);
	color:#ff2121;
	margin-left:5%;
	margin-right: 5%;
	
}



/* ---------------------------------------------------------- jewlry product css start here ------------------------------------------------- */





.section_head2{
	font-size:28px;
	font-weight: 600;
	text-align:center;
	padding: 5px;
	margin-top:5px;
	/* color:#ffffff; */
	margin-left: 2rem;

	color: rgb(137,106,59); /* Old browsers */
	color: -moz-linear-gradient(-45deg,  rgba(137,106,59,1) 0%, rgba(201,152,78,1) 29%, rgba(214,183,70,1) 50%, rgba(247,217,84,1) 73%, rgba(145,145,24,1) 98%); /* FF3.6-15 */
	color: -webkit-linear-gradient(-45deg,  rgba(137,106,59,1) 0%,rgba(201,152,78,1) 29%,rgba(214,183,70,1) 50%,rgba(247,217,84,1) 73%,rgba(145,145,24,1) 98%); /* Chrome10-25,Safari5.1-6 */
	color: linear-gradient(135deg,  rgba(137,106,59,1) 0%,rgba(201,152,78,1) 29%,rgba(214,183,70,1) 50%,rgba(247,217,84,1) 73%,rgba(145,145,24,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#896a3b', endColorstr='#919118',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/* 
.section_divider{

	padding: 6px;
	margin-top:25px;
	
} */


.row_three{
	background: -moz-linear-gradient(-45deg,  rgba(14,14,51,1) 0%, rgba(206,76,53,1) 32%, rgba(140,69,239,1) 64%, rgba(39,37,163,0.89) 93%, rgba(36,36,160,0.89) 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(14,14,51,1) 0%,rgba(206,76,53,1) 32%,rgba(140,69,239,1) 64%,rgba(39,37,163,0.89) 93%,rgba(36,36,160,0.89) 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(14,14,51,1) 0%,rgba(206,76,53,1) 32%,rgba(140,69,239,1) 64%,rgba(39,37,163,0.89) 93%,rgba(36,36,160,0.89) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e33', endColorstr='#e32424a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



/* --------------------------------------------------------------- Men's Fashion css start here ------------------------------------------------------- */
.section_head3{
	font-size:20px;
	font-weight: 600;
	text-align:center;
	/* padding: 5px; */
	margin-top:5px;
	color:#ffffff;
	/* margin-left: 2rem; */
		
	


}

/* --------------------------------------------------------------- Men's Fashion css start here ------------------------------------------------------- */

.summersale_head{
	background : rgb(137,106,59); /* Old browsers */
	background : -moz-linear-gradient(-45deg,  rgba(137,106,59,1) 0%, rgba(201,152,78,1) 29%, rgba(214,183,70,1) 50%, rgba(247,217,84,1) 73%, rgba(145,145,24,1) 98%); /* FF3.6-15 */
	background : -webkit-linear-gradient(-45deg,  rgba(137,106,59,1) 0%,rgba(201,152,78,1) 29%,rgba(214,183,70,1) 50%,rgba(247,217,84,1) 73%,rgba(145,145,24,1) 98%); /* Chrome10-25,Safari5.1-6 */
	background : linear-gradient(135deg,  rgba(137,106,59,1) 0%,rgba(201,152,78,1) 29%,rgba(214,183,70,1) 50%,rgba(247,217,84,1) 73%,rgba(145,145,24,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#896a3b', endColorstr='#919118',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}





/* ------------------------------------------------------------ footer section start here ------------------------------------------- */

.footer-link{

	color:white;
	font-size:16px;

}
.footer-link:hover{

	color:rgb(236, 78, 78);
	font-size:18px;
	
	
}


/* -------------------------------------------------------- footer social icon style starts here -------------------------------------- */
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
	border:circle;
    color: #292929;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
	margin: 22px 12px 10px 12px;
	padding-top: 3rem;
}

.social-icon li a:hover {
    border-color: #bfba55;
    color: #bfba55;
    transform: scale(1.1);
}

/* -------------------------------------------------------- footer social icon style end here -------------------------------------- */

















/* -------------------------------------------------------- about us page start here -------------------------------------- */



.mesg-head{
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	/* text-decoration: underline; */
}


/* -------------------------------------------------------- about us page end here -------------------------------------- */









/* --------------------------------------------------------------- login page start here ------------------------------------------------------- */


.login-head{
	font-weight: 600;
	text-align: center;
	font-size:18px;
}


.btn-success:hover{
	background-color: rgb(47, 108, 201);
}

.btn-success{
	font-size:12px;
}

.forgetpass-link{
	color:rgb(0, 0, 0);
}

.forgetpass-link:hover{
	color:rgb(255, 66, 66);
}



/* ---------------------------------------------------------------login page end here ------------------------------------------------------- */




/* ---------------------------------------------------------------account info page start here ------------------------------------------------------- */




.btn-light{
	
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	font-size: 12px;
}